---
// src/layouts/BaseLayout.astro
import "../styles/global.css";
const { title = "Welcome", children } = Astro.props;
---

<section style="font-family: sans-serif; margin: 2rem;">
  <main>
    <slot/>
  </main>

  <footer style="margin-top: 4rem; font-size: 0.9rem;">
    <p>&copy; {new Date().getFullYear()} Alejandro Garcia &mdash; Built with Astro</p>
  </footer>
</section>
