---
// src/layouts/BaseLayout.astro
import "../styles/global.css";
const { title, description } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/" class={currentPath === "" ? "active" : ""}>home</a>
        <a href="/newsletter" class={currentPath === "newsletter" ? "active" : ""}>newsletter</a>
        <a href="/blog" class={currentPath === "blog" ? "active" : ""}>blog</a>
        <a href="https://github.com/AGarciaJr" target="_blank">github</a>
        <a href="https://www.linkedin.com/in/alejandro-garcia-jr/" target="_blank">linkedin</a>
      </nav>

      <main>
        <slot />
      </main>

      <footer>
        <p>&copy; {new Date().getFullYear()} Alejandro Garcia.</p>
      </footer>
    </div>
  </body>
</html>
